<tr id=<%= "task_#{task.id}" %>>
  <td>
    <%= link_to task, remote: true do %>
      <i class='icon-eye-view'></i>
      <%= truncate(task.name) %>
    <% end %>
  <td>
  <td><%= truncate task.description %></td>
  <td>

    <%= link_to '', edit_task_path(task), class: 'icon-edit', remote: true %>
    <%= link_to '×', task, class: :delete, data: { method: :delete, remote: true,
                                                    confirm: 'Are you sure you want to delete this entry? This is an irreversible action.',
    } %>
  </td>
</tr>
